<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>作品管理</title>
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="../css/simple-sidebar.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../css/main.css">
  <style>
  </style>



  <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../js/productionlist.js"></script>
  <script type="text/javascript" src="../js/popper.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/vue.js"></script>

  <script>


    $(document).ready(function () {
      $(".nav-tabs a").click(function () {
        $(this).tab('show');
      });

      $("#keyCondition1").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#list1 tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      $('#myModal').on('click', '.modal-footer .btn-primary', function () {
        // if ($("#dialogTbl").find("input[type='checkbox'][checked]").length== 0 ) {
        //   alert("選択のチェックボックスをチェックしてください");
        //   return false;
        // }
        $("#charactorTbody").show();
        $('#myModal').modal('hide');
        // $("#dialogTbl").find(".checkbox[:checked]").each(function() {
        //   $(this).parent().remove
        // });
      });

      var menuv = new Vue({
        el: '#production-list',
        data: {
          ths: productionlist["title"] ,
          trs: productionlist["list"]
        }
      });

    });
  </script>
</head>

<body>

  <div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="menuDiv"><menu-component></menu-component></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <!-- TOP TAB -->
        <ul class="nav nav-tabs">
          <!-- <li class="active">
            <a href="#menu1">取り込み</a>
          </li> -->
          <li class="active">
            <a href="#menu2" >作品一覧</a>
          </li>
          <li>
            <a href="#menu3">新規作品</a>
          </li>
        </ul>


        <div class="tab-content">
          <!-- 取り込み -->
          <!-- <div id="menu1" class="tab-pane fade in active">
            <input id="lefile" type="file" style="display:none">
            <div class="input-group">
              <input type="text" id="photoCover" class="form-control" placeholder="select file...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info" onclick="$('input[id=lefile]').click();">Browse</button>
              </span>
            </div>
            <button type="button" class="btn btn-primary btn-lg">取込</button>
          </div> -->
          <!-- 作品一覧 -->
          <!-- -->
          <!-- -->
          <div id="menu2" class="tab-pane fade in active">
            <!--search -->
            <form class="form-inline">
           
            </form>
            <!-- list-->
            <div class="panel panel-primary table-responsive ">
              <div class="panel-heading">作品一覧</div>
              <table class="table table-hover table-bordered" id="production-list">
                <thead>
                  <tr>
                    <th v-for="th in ths">{{th}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="list1">
                  <tr v-for="tr in trs">
                    <td v-for="td in tr.data">{{td}}</td>
                    <td>
                      <a v-bind:href="'updateProduction.html?'+tr.id" class="btn btn-default">編集</a>
                      <a v-bind:href="'updateProduction.html?detail=1&'+tr.id" class="btn btn-default">詳細</a>
                      <a v-bind:href="'properNounList.html?'+tr.id" class="btn btn-default">固有名詞</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- 新規作品-->

          <div id="menu3" class="tab-pane fade">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">作品ID</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">作品名正式名称</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">英文名称</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">日本語コピーライト</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">製作年</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="control-label col-sm-2">カテゴリー 尺/話数</label>
                <div class="col-sm-6">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>       
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                  <button class="btn btn-primary btn-lg">登録</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  </form>

</body>

</html>