<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>固有名詞詳細</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">

  <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../js/productionlist.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/vue.js"></script>
  <script src="../js/jquery.uploadThumbs.js"></script>
  <style>
    textarea {
      width: 800px;
      height: 140px;
    }
  </style>
  <script>
    $(function () {


      var formDate = {
        "items": [{
            "title": "身長",
            "name": "t",
            "value": ""
          },
          {
            "title": "体重",
            "name": "t",
            "value": ""
          },
          {
            "title": "飛行速度",
            "name": "t",
            "value": ""
          },
          {
            "title": "ジャンプ力",
            "name": "t",
            "value": ""
          },
          {
            "title": "陸上走行速度",
            "name": "t",
            "value": ""
          },
          {
            "title": "地中潜行速度",
            "name": "t",
            "value": ""
          },
          {
            "title": "出現地",
            "name": "t",
            "value": ""
          },
        ]
      };
      Vue.component("formfield", {
        template: '<form class="form-horizontal">\
          <div class="form-group">\
              <div class="col-sm-6" v-for="el in items">\
              <label for="name" class="control-label col-sm-3">{{el.title}}</label>\
              <div class="col-sm-4">\
                <input type="text" :id="el.name" :name="el.name" class="form-control" :value="el.value"" />\
              </div>\
             </div>\
          </div></form>',
        data: function () {
          return formDate;
        }
      });

      var isNew = window.location.href.indexOf("isNew") > -1;
      var menuv = new Vue({
        el: '#propnounEdit',
        data: {
          //ths: charactorList && charactorList["titles"] ? charactorList["titles"] : [],
          //trs: charactorList && charactorList["list"] ? charactorList["list"] : [[]],
          selectItem: G_FUNC.makeUpdateProductionData(1),
          categorySel: "ヒーロー",
          categoryList: ["タイトル", "あらすじ", "アイテム", "チーム", "ヒーロー", "メカ", "固有名詞", "変身者", "怪獣", "隊員"],
          isNotNew: !isNew,
          showDetail: true,
        },
        methods: {
          changeCategory: function () {
            //alert(this.categorySel);
            var charactors = ["アイテム", "ヒーロー", "メカ", "変身者", "怪獣"];
            this.showDetail = charactors.join(",").indexOf(this.categorySel) > -1;
          },
        }
      });




      // function getSelectItem() {
      //   var id = window.location.href.
      // }
      // jQuery Upload Thumbs 
      // $('#upload1').uploadThumbs({
      //   position: "#picPreview", // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
      //   // any: arbitrarily jquery selector
      //   imgbreak: true // append <br> after thumbnail images
      // });
      // $('#upload2').uploadThumbs({
      //   position: "#picPreview2", // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
      //   // any: arbitrarily jquery selector
      //   imgbreak: true // append <br> after thumbnail images
      // });
      // $('#upload3').uploadThumbs({
      //   position: "#picPreview3", // 0:before, 1:after, 2:parent.prepend, 3:parent.append,
      //   // any: arbitrarily jquery selector
      //   imgbreak: true // append <br> after thumbnail images
      // });

    });

    function funcBackTOList() {
      var fromPage = window.location.href.replace(/.*from=/, "")
      if (fromPage.indexOf("list") > -1) {
        window.location = "properNounList.html";
        return;
      } else if (fromPage == "trans") {
        window.location.href="properNounTranslist.html";
      } else if (fromPage == "search") {
        window.location.href = "properNoun.html";
      }
    }

    var temp_G_skill_cnt = 1;

    function addSkill() {
      var div = $("#skillDivTemplate").clone(true);

      div.show();
      div.appendTo($("#skillContainer"));
      temp_G_skill_cnt++;
      div.find("#skill_num").html(temp_G_skill_cnt);

    }

    function delSkill(obj) {
      $(obj).parents(".media").remove();
      temp_G_skill_cnt--;
    }
  </script>
</head>

<body>

  <div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="menuDiv">
      <menu-component></menu-component>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid top50" id="propnounEdit">

        <!-- <div class="row"> -->
        <!-- Left-aligned -->
        <div class="alert alert-info ">
          <h4>固有名詞詳細</h4>
        </div>
        <form>
          <div class="form-group">
            <label for="category">カテゴリ</label>
            <select value="5" @change="changeCategory" class="form-control" v-model="categorySel">
              <option v-for="t in categoryList">{{t}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="cnt">話数</label>
            <input type="text" class="form-control" value="１" />
          </div>

          <div class="form-group">
            <label for="category">固有名詞</label>
            <input type="text" class="form-control" value="" />
          </div>
        </form>
        
        <!-- <div class="alert alert-info">光を継ぐもの</div> -->
        <div id="charactorDiv" class="top50" v-show="showDetail">
          <div class="alert alert-info ">
            <h4>基本情報</h4>            
          </div>
          
          <div class="media">
            <div class="media-left media-middle">
              <div id="picPreview">
                <img v-show="isNotNew" src="../img/hero1.png" style="width:300px;height:450px">
              </div>
              <label>
                <span>
                  名詞画像
                  <input type="file" id="upload1" name="images[]" multiple="multiple" />
                </span>
              </label>
            </div>
            <div class="media-body">
              <formfield></formfield>            
              <h4>変身器</h4>
              <div id="picPreview3"></div>
              <span>変身器画像
                <input type="file" id="upload3" name="images[]" multiple="multiple" value="変身器画像" />
              </span>

              <hr>
              <h4>紹介</h4>
              <textarea>ウルトラマンティガの基本タイプで、スピードとパワーのバランスがいい。通常はこの姿で活動し、数々の特殊能力で邪悪な存在を粉砕していく。 人間ウルトラマンであるティガは、ダイゴそのものである。そのため、ダイゴの戦闘経験がダイレクトにティガの戦闘力に反映される。マルチタイプの戦闘はその名の通り万能で、パワー、スピードのバランスのとれた動きで様々な技を炸裂させている。
              </textarea>
              <hr>
            </div>
          </div>

          <div id="skillContainer">
            <div class="alert alert-info ">
              <h4>技能</h4>
            </div>
            <input type="button" value="技能追加" onclick="addSkill()" />
            <div class="media" id="skillDiv">
              <div class="media-left media-middle">
                <img v-show="isNotNew" src="../img/skill1.png" style="width:100px;height:100px;">
                <div id="picPreview2" style="width:50px;height:50px;"></div>
                <label>
                  <span>技能画像
                    <input type="file" id="upload2" name="images[]" multiple="multiple" />
                  </span>
                </label>
              </div>
              <div class="media-body">
                <h4 class="media-heading　btn ">技能
                  <span class="badge">１</span>
                </h4>
                <h4>技能名:
                  <input type="text" value="ゼペリオン光線" />
                </h4>
                <h4>技能紹介:</h4>
                <textarea> マルチタイプの必殺技だ。L字型に組んだ両腕から全エネルギーを一気に打つ。一撃で敵の体を貫くほどの威力だし、破壊力抜群の光線だ。切り札として使用する。
                </textarea>
                <input type="button" value="技能削除" onclick="delSkill(this)" />
              </div>
            </div>
          </div>

        </div>

      </div>

      <hr>
      <div class="container">
        <div class="form-group">
          <button class="btn btn-primary btn-sm" onclick="funcBackTOList();"> 戻る </button>
          <button class="btn btn-primary btn-sm" onclick="funcBackTOList();"> 保存 </button>
        </div>
      </div>

    </div>


    <div class="media" id="skillDivTemplate" style="display:none">
      <div class="media-left media-middle">
        <div id="picPreview2" style="width:50px;height:50px;"></div>
        <label>
          <span>技能画像
            <input type="file" id="upload2" name="images[]" multiple="multiple" />
          </span>
        </label>
      </div>
      <div class="media-body">
        <h4 class="media-heading　btn ">技能
          <span class="badge" id="skill_num">１</span>
        </h4>
        <h4>技能名:
          <input type="text" value="" />
        </h4>
        <h4>技能紹介:</h4>
        <textarea>
        </textarea>
        <input type="button" value="技能削除" onclick="delSkill(this)" />
      </div>
    </div>

  </div>
  <!-- /#page-content-wrapper -->

  <!-- /#wrapper -->


</body>

</html>