<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>固有名詞検索</title>
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="../css/simple-sidebar.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../css/main.css">
  <style>
  </style>



  <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../js/productionlist.js"></script>
  <script type="text/javascript" src="../js/popper.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/vue.js"></script>

  <script>
    $(document).ready(function () {
      $(".nav-tabs a").click(function () {
        $(this).tab('show');
      });

      $("#keyCondition1").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#list1 tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


      $('#myModal').on('click', '.modal-footer .btn-primary', function () {
        // if ($("#dialogTbl").find("input[type='checkbox'][checked]").length== 0 ) {
        //   alert("選択のチェックボックスをチェックしてください");
        //   return false;
        // }
        $("#charactorTbody").show();
        $('#myModal').modal('hide');
        // $("#dialogTbl").find(".checkbox[:checked]").each(function() {
        //   $(this).parent().remove
        // });
      });
     
    var properNounSrchResultList_ = {
    title:["画像","言語","固有名詞","名詞紹介"],
    class:["col-sm-1","col-sm-1","col-sm-3","col-sm-5"],
    list:[
        {id:"1",productionId:"1",data:["hero1.png",
                        "日本語",
                        "マルチタイプウルトラマンティガ",
                        "ウルトラマンティガの基本タイプで、スピードとパワーのバランスがいい。通常はこの姿で活動し、数々の特殊能力で邪悪な存在を粉砕していく。人間ウルトラマンであるティガは、ダイゴそのものである。そのため、ダイゴの戦闘経験がダイレクトにティガの戦闘力に反映される。マルチタイプの戦闘はその名の通り万能で、パワー、スピードのバランスのとれた動きで様々な技を炸裂させている。",
                        // "1996",
                        // "ウルトラマンティガ"
                      ]
                    
                    },
        {id:"1",productionId:"1",data:["hero1.png",
                                        "中国語",
                                        "複合型迪迦奥特曼",
                                        "迪迦奥特曼的基本形态，速度与力量分配平衡。通常以该形态登场，并使用多种特殊能力打倒邪恶势力。迪迦的人间体是大古队员，因此大古队员的战斗经验直接反映了迪迦的战斗力。复合型如其名是万能型，平衡的力量与速度怀有各种炸裂技能。",
                                        // "1996","迪迦奥特曼"
                                      ]
                                      },
        {id:"1",productionId:"1",data:["hero1.png","英語","Multi Type",""]},
        {id:"2",productionId:"1",data:["hero2.png","日本語","スカイタイプ",
                                        "体の動きの素早さと飛行能力を最高にアップしたタイプで、空を飛ぶ怪獣やスピード怪獣との戦いでは、無敵の強さを誇っている。スカイパイプはスピード戦,空中戦にてその力を発揮するため,パワータイプと比べやや活躍の機会が少ない。",
                                        ]},
        {id:"3",productionId:"1",data:["hero3.png","日本語","",""]},
        
    ]
}
      var menuv = new Vue({
        el: '#page-content-wrapper',
        data: {
          stylecls: properNounSrchResultList_["class"],
          ths: properNounSrchResultList_["title"],
          trs: properNounSrchResultList_["list"],
          selectItem: { data: ["", "", "", "", "", "", "", "", "", "", ""] },
        },
        methods: {
          showModel: function (index, id) {
            var id = (id + "").replace(/\D/g, "");
            this.selectItem = properNounSrchResultList["list"][index];
            test = "ooooooooooooooo";
            //$('#myModal').modal('show');
          }
        }
      });

    });
  </script>
</head>

<body>

  <div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="menuDiv">
      <menu-component></menu-component>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <!-- TOP TAB -->
        <ul class="nav nav-tabs">
          <!-- <li class="active">
            <a href="#menu1">取り込み</a>
          </li> -->
          <li class="active">
            <a href="#menu2">固有名詞一覧</a>
          </li>
          <!-- <li>
            <a href="#menu3">新規作品</a>
          </li> -->
        </ul>


        <div class="tab-content" id="propernoun-list">
          <!-- -->
          <div id="menu2" class="tab-pane fade in active">
             <!-- list-->
            <div class="panel panel-primary table-responsive ">
              <div class="panel-heading">名詞一覧</div>
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th v-for="(th,i) in ths" v-bind:class="stylecls[i]">{{th}}</th>
                    <!-- <th><button type="button" class="btn btn-primary">追加</button></th> -->
                    <th><a v-bind:href="'properNounEdit.html?from=list&isNew'" class="btn btn-default">追加</a>
                      <button type="button" class="btn btn-default btn-lg" >
                        <span class="glyphicon glyphicon-print"></span> Print</button>
                    </th>
                  </tr>
                </thead>
                <tbody id="list1">
                  <!-- <tr v-for="tr in trs">
                    <td v-for="td in tr.data">{{td}}</td>
                   
                  </tr> -->
                  <tr v-for="(tr,index1) in trs">
                      <!-- <template v-if="index1 < 4"> -->
                        <td v-for="(td,index2) in tr.data">                      
                          <img v-bind:src="'../img/'+td" width="50px" height="50px" v-if="/png/.test(td)" v-on:mouseover="showModel(index1,td)"></img>
                          <label v-if="!/png/.test(td)">{{td}}</label>                      
                        </td>
                      <!-- </template> -->
                    <td>
                      <a v-bind:href="'properNounEdit.html?'+tr.id+'from=list'" class="btn btn-default">編集</a>
                      <a v-bind:href="'properNounDetail.html?'+tr.id+'from=list'" class="btn btn-default">詳細</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
      <!-- Modal -->
      <div class="container modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content alert alert-info">

            <div class="media">
              <div class="media-left media-top">
                <img v-bind:src="'../img/'+(selectItem.data)[0]" style="width:200px;height:200px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{(selectItem.data[2])}}</h4>
                <p>{{(selectItem.data[3])}}</p>

              </div>
              <hr>
            </div>
            <div class="media">
              <div class="media-left media-middle">
                <img src="../img/skill1.png" style="width:100px;height:100px;">
              </div>
              <div class="media-body">
                <h4 class="media-heading">ゼペリオン光線</h4>
                <p> マルチタイプの必殺技だ。L字型に組んだ両腕から全エネルギーを一気に打つ。一撃で敵の体を貫くほどの威力だし、破壊力抜群の光線だ。切り札として使用する。
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

    <div class="container">
        <div class="form-group">
          <button class="btn btn-primary btn-sm" onclick="window.location='productManagement.html'"> 戻る </button>
        </div>
      </div>
  </div>
  <!-- /#wrapper -->
  </form>

</body>

</html>